<script>
  import Button from '@/components/ui/Button.vue'
  import Input from '@/components/ui/Input.vue'
  import HeadLine from '@/components/ui/HeadLine.vue'
  import BackButton from '@/components/ui/BackButton.vue'
  import AddButton from '@/components/ui/AddButton.vue'
  import ContactList from "@/components/ContactList.vue";
  import NewContact from "@/components/NewContact.vue";

  const emptyContact = {
    id: undefined,
    firstName: "",
    lastName: "",
    email: ""
  }

  export default {
    components: {
      ContactList,
      NewContact,
      Button,
      Input,
      HeadLine,
      BackButton,
      AddButton
    },
    data() {
      return {
        mainForm: {
          contact: emptyContact,
          payment: "",
          amount: "",
        },
        contacts: [],
        newContactForm: emptyContact,
        selectingContact: false,
        creatingContact: false
      }
    },
    computed: {
      fullName() {
        return this.mainForm.contact.firstName + " " + this.mainForm.contact.lastName
      },
      newId() {
        return this.contacts.length + 1
      }
    },
    created() {
      let name
      let value
      for (name in this.$data) {
        value = this.getStorageData(name)
        if (value !== null) {
          this[name] = value
        }
      }
    },
    methods: {
      getStorageData(name) {
        return JSON.parse(localStorage.getItem(name))
      },
      saveToStorage(name, data) {
        localStorage.setItem(name, JSON.stringify(data))
      },
      switchSelection(name) {
        const value = !this[name]
        this[name] = value
        this.saveToStorage(name, value)
      },
      selectContact(contact) {
        this.mainForm.contact = contact
        this.saveToStorage('mainForm', this.mainForm)
        this.switchSelection('selectingContact')
      },
      saveContact(contact) {
        this.contacts.push(contact)
        this.newContactForm = emptyContact
        this.saveToStorage('newContactForm', emptyContact)
        this.saveToStorage('contacts', this.contacts)
        this.switchSelection('creatingContact')
      },
      payAction() {
        console.log("Payment done");
      }
    }
  }
</script>

<template>
  <div class="mx-auto px-8 py-10 sm:max-w-screen-sm h-screen flex flex-col justify-between">
    <div class="mb-8">
      <h2 class="text-3xl font-extrabold text-center text-gray-900">
        Make  a payment
      </h2>
      <Input class="mt-6" v-model="fullName" @click="switchSelection('selectingContact')">Select contact</Input>
      <Input class="mt-6" v-model="mainForm.payment">Select payment method</Input>
      <Input class="mt-10" v-model="mainForm.amount" @input="saveToStorage('mainForm', mainForm)">Enter amount</Input>
    </div>

    <router-link to="/paid" @click="payAction" class="mt-8">
      <Button>Pay</Button>
    </router-link>
  </div>

  <Transition name="slide">
    <div v-show="selectingContact" class="bg-white absolute inset-0">
      <HeadLine>
        <BackButton class="absolute left-1" @click="switchSelection('selectingContact')"/>
        Select contact
        <AddButton class="absolute right-2" @click="switchSelection('creatingContact')"/>
      </HeadLine>
      <ContactList :data="contacts" :onSelect="selectContact"/>
    </div>
  </Transition>

  <Transition name="slide">
    <div v-show="creatingContact" class="bg-white absolute inset-0">
      <HeadLine>
        <BackButton class="absolute left-1" @click="switchSelection('creatingContact')"/>
        New contact
      </HeadLine>
      <NewContact :data="newContactForm" :newId="newId" :onSave="saveContact"/>
    </div>
  </Transition>
</template>

<style scoped>
  .slide-enter-active,
  .slide-leave-active {
    transition: all .5s linear;
  }
  .slide-enter-from,
  .slide-leave-to {
    transform: translateX(100vw);
  }
</style>
