<script setup>
  import Button from '@/components/ui/Button.vue'
</script>

<template>
  <div class="mx-auto px-8 py-10 sm:max-w-screen-sm h-screen flex flex-col justify-between">
    <div class="mb-8">
      <div class="mx-auto w-40 h-40 bg-green-500 rounded-full text-white text-9xl flex justify-center items-center">&#10004;</div>
      <h1 class="pt-6 text-4xl font-extrabold text-center text-gray-900">
        Payment completed successfully
      </h1>
    </div>

    <router-link to="/" class="mt-8">
      <Button>Make another one</Button>
    </router-link>
  </div>
</template>
