<script>
  export default {
    props: {
      data: {
        type: Array,
        required: true
      },
      onSelect: {
        type: Function,
        default: () => {}
      }
    }
  }
</script>

<template>
  <div class="mx-auto px-8 py-10 sm:max-w-screen-sm h-screen flex flex-col justify-between">
    <div class="mt-12">
      <div v-for="contact in data" class="bg-indigo-200 rounded-md py-2 px-4 mb-4 cursor-pointer" @click="onSelect(contact)">
        Name: {{ contact.firstName }} {{ contact.lastName }}<br>
        Email: {{ contact.email }}
      </div>
    </div>
  </div>
</template>
