<script>
  import Input from '@/components/ui/Input.vue'
  import Button from '@/components/ui/Button.vue'

  export default {
    components: { Input, Button },
    props: {
      data: {
        type: Object,
        required: true
      },
      newId: {
        type: Number,
        required: true
      },
      onSave: {
        type: Function,
        default: () => {}
      }
    },
    data() {
      return {
        id: this.newId,
        values: {
          firstName: this.data.firstName,
          lastName: this.data.lastName,
          email: this.data.email
        }
      }
    },
    methods: {
      saveContact() {
        this.onSave({ ...this.values, id: this.id})
        Object.keys(this.values).forEach((key) => { this.values[key] = "" })
      },
      onInput() {
        localStorage.setItem('newContactForm', JSON.stringify({ ...this.values, id: this.id }))
      }
    }
  }
</script>

<template>
  <div class="mx-auto px-8 py-10 sm:max-w-screen-sm h-screen flex flex-col justify-between">
    <div class="mt-12 mb-8">
      <Input v-model="values.firstName" @input="onInput">
        First name</Input>
      <Input class="mt-8" v-model="values.lastName" @input="onInput">
        Last Name</Input>
      <Input class="mt-8" v-model="values.email" @input="onInput">
        Email</Input>
    </div>
    <Button @click="saveContact">Save</Button>
  </div>
</template>
