<script setup>
</script>

<template>
  <div>
    <main>
      <router-view v-slot="{ Component, route }">
        <Transition :name="route.meta.transition">
          <component :is="Component" />
        </Transition>
      </router-view>
    </main>
  </div>
</template>

<style>
  .fade-enter-active {
    transition: opacity 1s linear;
  }
  .fade-enter-from {
    opacity: 0;
  }
</style>
