<template>
  <div
    class="flex w-8 h-8 rounded-full shadow items-center justify-center border border-transparent bg-indigo-600 text-3xl font-bold leading-6 text-white transition duration-150 ease-in-out hover:bg-indigo-500 focus:outline-none cursor-pointer">
    +
  </div>
</template>
