<template>
  <div
    class="flex w-10 h-10 items-center justify-center border border-transparent text-3xl font-bold leading-6 text-indigo-600 transition duration-150 ease-in-out hover:bg-indigo-500 focus:outline-none cursor-pointer">
    &larr;
  </div>
</template>
