<template>
  <div class="flex rounded-md shadow items-center justify-center border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out hover:bg-indigo-500 focus:outline-none cursor-pointer">
    <slot>Click me</slot>
  </div>
</template>
