<script>
  export default {
    props: {
      modelValue: {
        type: String,
        required: true
      },
    },
    emits: ['update:modelValue']
  }
</script>

<template>
  <div class="flex flex-col">
    <div class="text-xl font-semibold mb-2 text-gray-900">
      <slot>Input data</slot>
    </div>
    <input type="text"
           class="border border-indigo-600 rounded-md text-gray-900"
           :value="modelValue"
           @input="$emit('update:modelValue', $event.target.value)">
  </div>
</template>
